@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme variables */
:root {
    --background: #ffffff;
    --text: #111111;
    --muted: #8a8e94;
    --link: #3b82f6;
    --border: #ccc;
    --error: #cc0000;
}

/* Dark theme variables */
.dark {
    --background: #111111;
    --text: #ffffff;
    --muted: #8a8e94;
    --link: #3b82f6;
    --border: #333;
    --error: #cc0000;
}

@layer base {
    html,
    body {
        @apply w-full leading-normal;
        @apply text-text;
    }

    .hidden {
        display: none;
    }

    h1 {
        @apply font-bold text-xl;
    }

    h2 {
        @apply font-bold text-lg;
    }

    h3 {
        @apply font-bold;
    }

    a {
        @apply break-words hover:underline;
        @apply text-link;
    }
}

@layer components {
    * {
        @apply outline-none;
    }

    button {
        @apply bg-link text-white rounded-lg p-2 w-full;
    }

    button:disabled,
    input:disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    .green-pill {
        text-align: end;
        border: 1px solid #09ad0e;
        background: #09ad0e;
        padding: 0.25em;
        border-radius: 4px;
        color: white;
        font-size: 0.75rem;
    }

    .red-pill {
        text-align: end;
        border: 1px solid #ad2409;
        background: #ad2409;
        padding: 0.25em;
        border-radius: 4px;
        color: white;
        font-size: 0.75rem;
    }
}

@layer utilities {
    .no-touch-highlight {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

    .disable-pointer-events {
        pointer-events: none;
    }

    .enable-pointer-events {
        pointer-events: all;
    }

    .break-any {
        overflow-wrap: anywhere;
    }

    i.icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    i.icon > svg {
        @apply w-full h-full;
    }
}
